
$bgColor: #ededed;
$sunnyColor: #e7c794;
$coralColor: #dc8d6c;
$darkGreen: #676e5e;
$headerColor: #97a884;
$lightColor: #cdd6a9;
$ultraLight: #e6e7d5;
$primaryFont: brandon grotesque;

body#background00{
	background-repeat: no-repeat;
	background-size: 100%;
}

.column-left{
	background-color: #97a884;
	float: left;
}

.column-right{
	float: right;
	.top{
		background-color: #e7c794;
	}
	.bottom{
		background-color: $darkGreen;
	}

}