
$bgColor: #ededed;
$sunnyColor: #e7c794;
$coralColor: #dc8d6c;
$darkGreen: #676e5e;
$headerColor: #97a884;
$lightColor: #cdd6a9;
$ultraLight: #e6e7d5;
$primaryFont: brandon grotesque;

body#background00{
	background-color: $sunnyColor;
	background-repeat: no-repeat;
	background-size: 100%;
}
